.App {
  text-align: center;
  background: linear-gradient(#8db3ff, #fff);
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer.App-header {
  justify-content: flex-end;
}

.App-link,
.App-link:active,
.App-link:visited {
  color: white;
}
